body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2c2c2c 0%, #2c2c2c 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 800px;
    transition: all 0.3s ease;
}

.login-content {
    display: flex;
    width: 100%;
    gap: 30px;
}

.login-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form h2 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
    font-weight: 600;
}

.input-group {
    position: relative;
    margin-bottom: 25px;
}

.input-group input {
    width: 100%;
    padding: 12px 0;
    font-size: 16px;
    color: white;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    outline: none;
    background: transparent;
    transition: 0.3s;
}

.input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 12px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    pointer-events: none;
    transition: 0.3s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    transform: translateY(-20px);
    font-size: 14px;
    color: #fff;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(to right, #2EB8B8, #009999);
    border: none;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 16px;
    font-weight: 500;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.register-link {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.register-link a {
    color: #FFFFFF;
    text-decoration: none;
    transition: 0.5s;
    font-weight: 500;
}

.register-link a:hover {
    color: #4bc0c0;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}


.alert {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    text-align: center;
}

.alert-error {
    background-color: rgba(75,192,192, 0.3);
    color: white;
}

.alert-success {
    background-color: rgba(75,192,192, 0.3);
    color: white;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: white;
}

.remember-me input {
    margin-right: 10px;
}

.remember-me label {
    font-size: 14px;
    color: rgb(255, 255, 255);
}   
